body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.background {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: 1;
  font-family: Courier;
}
.cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  opacity: 0.8;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 12px 0;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-family: Courier;
}
.header h1 {
  font-size: 40px;
  font-weight: lighter;
}
.header a {
  font-size: 32px;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
  color: #fff;
}
